h1 {
    color: darkslateblue;
    margin-top: 50px;
    text-align: center;
    font-size: 250%;
}

a {
    text-decoration-line: none;
}


input {

    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid goldenrod;
    border-radius: 10px;
}

form {
    text-align: center;
}

label {
    color: cadetblue;
    font-weight: bold;
    font-size: x-large;
}

input.add {
    width: 100px;
    text-align: center;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
}

input.all {
    width: 150px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
}

input[type = reset] {
    width: 100px;
    text-align: center;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
}


.content-wrap {
    margin-left: 10%;
    margin-right: 10%;
    background-color: lavender;
    border-radius: 10px;
}

body {
    color: white;
    background-size: 50%;
}

table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
    color: darkslateblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;


}

table th, table td {
    padding: 5px;


}


.successMessage {
    color: limegreen;
    text-align: center;
    font-size: xx-large;
}

.errorMessage {
    color: crimson;
    text-align: center;
    font-size: xx-large;
}

.emptyMessage {
    color: goldenrod;
    text-align: center;
    font-size: xx-large;
}
