<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JSON-to-DB</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

</head>
<body>
<h1>JSON-to-DB</h1>
<br/>
<div class="content-wrap">
    <form th:action="@{/create}" th:object="${urlForm}" method="POST">
        <label for="url">URL</label>
        <input type="text" id="url" th:field="*{url}"/>
        <input type="submit" value="ADD"/>
    </form>
</div>
</body>
</html>